<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="Description" content="Enter your description here" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link rel="stylesheet" href="assets/css/style.css" />
    <title>Recipe App</title>
  </head>
  <body>
    <main>
      <div class="container p-5">
        <div class="row">
          <div class="col-md-6">
            <h2
              class="display-1 fw-bolder text-secondary tracking-wider"
              style="--bs-text-opacity: 0.5"
            >
              Recipes Endpoints
            </h2>
          </div>

          <div class="col-md-6">
            <div class="card" style="width: 18rem">
              <div class="card-body shadow-lg">
                <h5 class="card-title">user.api.resources</h5>
                <p class="card-text text-secondary">
                  With the cloud that's moving round in the universe.
                </p>
                <a href="#" class="btn btn-primary">build.dev</a>
              </div>
            </div>
          </div>
          <hr />
        </div>
        <div class="row">
          <div class="rounded-4 p-3">
            <p
              class="display-6 fw-light text-secondary"
              style="--bs-text-opacity: 0.5"
            >
              automagically generate delicious recipes
            </p>
            <p>
              <code class="text-primary fs-5"> /api/docs/ </code>
            </p>
            <p>
              <code class="text-primary fs-5"> /api/user/ </code>
            </p>
          </div>
        </div>
      </div>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
  </body>
</html>
